.cards{
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
}

.card-style{
  width:350px;
  height: 250px;
  margin: 20px;
  padding: 10px;
}

.card-style:hover{
  transition: all 1s ease;
  box-shadow: 1px 1px 1px black;
  transform: scale(1.025);
}

.card-title-style{
  border-bottom: 1px solid silver;
}

.spinner{
  position: fixed;
  top: 50%;
  left: 50%;
}

.link-tag{
  color: blue;
  cursor: pointer;
}

.top-margin{
  margin-top: 100px;
}